[user]
	email = leander@furumo.eu
	name = Leander Furumo
	signingkey = A38CADC3C5FC879DF0FC5E9A0DC67A403AB6D120
[commit]
	gpgsign = true
[init]
	defaultBranch = main

#[includeIf "gitdir:~/Documents/code/neuf/"]
#  path = .gitconfig.professional

#[includeIf "gitdir:~/Documents/code/work/"]
#  path = .gitconfig.professional
