[user]
	email = leander@furumo.eu
	name = Leander Furumo
	signingkey = D371824559EBCF930B67613E3F08030796C74755
[commit]
	gpgsign = true
[init]
	defaultBranch = main

[includeIf "gitdir:~/Documents/code/neuf/"]
  path = .gitconfig.professional

[includeIf "gitdir:~/Documents/code/work/"]
  path = .gitconfig.professional
